$color1: #cce8cc;
$color2: #f6efee;
$color3: #e2b6cf;
$color4: #e396df;
$color5: #e365c1;
$color6: #3f3e3e;
$borderRadius: 0.75em;
$cardBorder: 2px solid $color5;
$transition: background-color 0.2s ease-in-out;
